{% extends 'recipes/main.html' %}
{% block content %}

   
    <h1 >Payment Successful! &#x1F497;</h1> <h1>You can leave your review &#x1F497;</h1>
  
{% endblock %}


<!--<!DOCTYPE html>
<html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'recipes/payment_success.css' %}?{% now 'U' %}">
  <title>Payment Successful!</title>
    </head>
<body>
    <h1>Payment Successful! &#x1F497;</h1>
    <div> 
    <a href="{% url 'home' %}">go to the main page</a>
    <a href="">go to your profile</a>
    </div>
</body>
</html>-->
