{% extends 'recipes/main.html' %}
{% block content %}
<div class="row">
  {% for recipe in recipes %}
  <div class="g-col-4" style="padding: 2rem; width: 22.6rem;">
  <img class="card-img-top" src="{{recipe.image.url}}" alt="Card image cap" style="width: 380px; height: 300px;object-fit: cover;                                                                        border-radius: 15px;">
  <div class="card-body">
    <h5 class="card-title">{{recipe.name}}</h5>
    <a href="/recipe/{{ recipe.id }}/" class="btn btn-success">See</a>
  </div>
</div>
  <br>
{% endfor %}
</div>

<!-- recipe_list.html -->
{% if recipes %}
  <ul>
    {% for recipe in recipes %}
      <li>
        <h3>{{ recipe.name }}</h3>
        <p>Difficulty: {{ recipe.level }}</p>
        <p>Cooking Time: {{ recipe.cooking }} mins</p>
        <p>Calories: {{ recipe.calories }}</p>
        <p>Rating: {{ recipe.rating }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No recipes found.</p>
{% endif %}

<!-- add a dropdown menu for sorting -->
<form method="get">
  <label for="sort-by">Sort by:</label>
  <select id="sort-by" name="sort_by">
    <option value="-rating">Rating (highest first)</option>
    <option value="difficulty">Difficulty</option>
  </select>
  <button type="submit">Sort</button>
</form>


{% endblock %}
