{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Search for Books</h2>
        <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg0">
            {{form.as_p }}<br>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <h2>You searched for {{ search }}</h2>
        {% for book in books %}
        <a href="/recipe/{{ recipe.id }}/">{{recipe}}</a><br>
        {% endfor %}
    </div>
{% endblock %}
